<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
	p {
	font-family: "PT Serif", serif;
	font-weight: normal;
	font-style: italic
	}
  a {
    text-decoration: none;
    color: black !important
  }

	.links {
	color: black !important;
	transition: all .5s
	}

	.links:hover {
	font-weight: 900;
	font-size: 1.2em
	}
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid>
			       <v-toolbar class="elevation-0">
               <v-toolbar-items>
                 <v-btn flat v-for="btn in menuItem"><a :href="btn.btnLink">{{btn.itemName}}</a></v-btn>
               </v-toolbar-items>
             </v-toolbar>
             <!-- <v-img src="wbz-radiofrequency-ablation.jpg" height="200px"></v-img> -->

             <v-layout>
               <v-flex xs3>
                 <v-layout column class="pa-5">

						<v-flex>
							<v-avatar size="150" class="mb-3">
								<img src="http://mealadmmb.github.io/Mine.png" alt="avatar">
							</v-avatar>
						</v-flex>

						<v-flex >
							<h1 text-align: center>Milad<br>Mohammadi<br>Bidhandi</h1>
						</v-flex>
						<v-flex>
							<p>I am a graduate from Amir Kabir University with MSc degree. I research in the filed of Direct Digital Synthesizer, VLSI, CMOS IC design and Discrete PLL PCB board.</p>
						</v-flex>
						<v-flex>

						<v-layout class="links" class="d-block" v-for="x in social">
							<v-flex xs2>
								<v-icon class="">{{x.socialIcon}}</v-icon>
							</v-flex>
							<v-flex>
								<p><a class="black--text" :href="x.socialTxt">{{x.socialTxtShow}}</a></p>
							</v-flex>
						</v-layout>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs9 class="ml-3">
						<h1 class="mt-3">About Me!</h1>
            <v-layout column>
              <v-flex v-for="x in about">
                <v-layout>
                  <img :src="x.aboutIcon" class="mr-3">
                  <h2 class="p">{{x.aboutTitle}}</h2>
                </v-layout>

                <v-flex>
                  <ul>
                    <li v-html="x.aboutItems">

                    </li>
                  </ul>
                </flex>
              <v-divider></v-divider>
              </v-flex>
            </v-layout>
            <p class="mt-5">© 2018 Milad Mohammadi Bidhandi with the big help of my friend Ali Khadem alikh1010@gmail.com. Powered by VUE  .</p>


				</v-flex>


			</v-layout>
		</v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({
	el: '#app',
	data: {

    // menuItems
		menuItem: [
		{
      itemName: 'Home',
      btnLink: 'index.html'
    },
		// {
    //   itemName: 'CV',
    //   btnLink: 'cv.html'
    // }
  ],

  // social
  social: [
    {
      socialIcon: 'email',
      socialTxt: 'mealadmmb@gmail.com',
      socialTxtShow: 'Email me!'
    },
    {
      socialIcon: 'send',
      socialTxt: 'https://t.me/mealadmmb',
      socialTxtShow: 'Telegram me!'
    },
  ],

    // aboutMe
    about: [
      {
        aboutIcon: 'http://mealadmmb.github.io/university.png',
        aboutTitle: ' Education',
        aboutItems:
         '<li><b>M.Sc. in Electrical Engineering</b>, Amirkabir University of Technology (Tehran Polytechnic),Tehran, Iran <b>— 2014 - 2017</b>'+
           '<ul>'+
              '<li><b>Thesis:</b> Design and optimization of ROM-less Direct Digital Frequency Synthesizer</li>'+
              '<li><b>Advisor:</b> Prof.M.Shalchian</li>'+
           '</ul>'+
         '</li>'+


         '<li><b>B.Sc. in Electrical Engineering</b>, Shahid Rajayee Teacher Training university (SRTTU),Tehran, Iran <b>— 2010 - 2014</b>'+
           '<ul>'+
              '<li><b>Thesis:</b> Using two GPS in order to increase the accuracy of positioning </li>'+
              '<li><b>Advisor:</b> Prof.M.H.Refan</li>'+
              '<li><b>2st Rank</b>, Achieving the  second highest GPA among all electrical Engineering undergraduate students</li>'+
           '</ul>'+
         '</li>'
      },
      {
        aboutIcon: 'http://mealadmmb.github.io/skill.png',
        aboutTitle: 'Software & Skills',
        aboutItems:
        '<li><b>Programming Languages</b>'+
          '<ul>'+
             '<li>Python, C, Matlab, Verilog, System Verilog</li>'+
          '</ul>'+
        '</li>'+


        '<li><b>Web Developing </b>'+
          '<ul>'+
             '<li> HTML, CSS </li>'+
          '</ul>'+
        '</li>'+

        '<li><b>Software </b>'+
          '<ul>'+
             '<li><b>Advanced:</b>MATLAB— ISE (FPGA)—DESIGN COMPILER—ARDUINO (CODEING AND PCB DESIGN ARM BASED MICROCONTROLLER)'+
             ' — ALTIUM DESIGNER (PCB DESIGN)— Microsoft Word <br><b>Intermediate:</b> Advance Design System (ADS) —SIMULINK'+
             '—SYSTEM GENERATOR—CADENCE (IC DESIGN) — HSPICE—AVR (CODEVSION) —PowerPoint <br><b>Beginner:</b> CST— WORDPRESS '+
             '(WEBSITE DESIGN)—PHOTOSHOP— LATEX'+
              '</li>'+
          '</ul>'+
        '</li>'
      },
      {
        aboutIcon: 'http://mealadmmb.github.io/award.png',
        aboutTitle: 'Honors and Awards',
        aboutItems:
        '<li><b>Certificate of Executive Committee </b> as a Scientific leader. Circuit Design and'+
                ' implementation National Competition (AUTRONICS) in AmirKabir'+
                'University of Technology (Tehran Polytechnic) (2015).'+
        '</li>'+


        '<li><b>Between 2% of 370’000 </b>attendances in BSC entrance exam. </li>'+
        '<li><b>Rank 213th among 35’000 attendances</b> in Master entrance exam </li>'+
        '<li><b>Ranked 2st among all B.Sc</b>. students in Electrical Engineering (2014) </li>'
      },
      {
        aboutIcon: 'http://mealadmmb.github.io/professional.png',
        aboutTitle: 'Professional Activities',
        aboutItems:
        '<li><b>Reverse engineering of 3.5 GHz DDS (AD9914) Evaluation Board</b> and development and manufacture of a less costly edition " by converting the 8-layer board to a 2-layer board" without affecting the performance</li>'+
        '<li><b>Hardware implementation of a DC to 6-GHz PLL (HMC833)</b>, ultra-low phase noise PLL. This Device can perform at -160dBc @1MHz phase noise with the help of HMC830. </li>'+
        '<li>A <b>BPSK modulator</b> implemented in <b>Spartan 6</b> FPGA Board (MOJOV3) for sending GPS Data.</li>'+
        '<li>Writing an <b>Instagram Crawler (Python)</b> to get the post from a channel automatically and send it to Telegram (messenger) channel as an agent. </li>'+
        '<li>Hardware implementation of <b>10MHz -3GHz Automatic Gain Control</b> (ADL5330 & AD8318)(Not Tested).</li>'+
        '<li>Hardware implementation of <b>10MHz -4GHz RF Switch</b> with more than 35 dB isolation between channels (HMC284).</li>'+
        '<li>Hardware implementation of <b>Tunable Filter</b> with Heterodyne Topology (PLL-HMC833+Mixer-SMD3500) + Inter Digital Filter).<b> Graphical User Interface</b> was developed by Python (Tkinter module).</li>'+
        '<li>Hardware implementation of <b>GPS C/A Code</b> on Spartan6 FPGA</li>'+
        '<li>Designing a new schematic and PCB and programming for <b>10MHZ _13.6GHz PLL</b> (ADF5355) (Not Tested)</li>'+
        '<li>Designing a PCB for <b>LNA-6GHz-26GHz</b> (Not Tested) </li>'
      },
      {
        aboutIcon: 'http://mealadmmb.github.io/teacher.png',
        aboutTitle: 'Teaching Experience',
        aboutItems:
        '<li>10 session teaching signal and system course as a teacher assistant </li>'+
        '<li>8 session teaching electronic 2 course as a teacher assistant </li>'

      },
      {
        aboutIcon: 'http://mealadmmb.github.io/research.png',
        aboutTitle: ' Research Experience & Project during Master',
        aboutItems:
        '<li>Modeling <b>Direct Digital Synthesizer</b> (DDS) for achieving best SFDR. </li>'+
        '<li>Designing an <b>8byte SRAM</b> with schematic and layout and post simulation (Virtuoso Cadence TSMC 0.18um) </li>'+
        '<li>Designing a <b>MIPS Multi CYCLE Processor</b> with Verilog and Design Compiler </li>'+
        '<li>Designing a fully <b>differential OTA</b> with 90 nm TSMC (HSPICE) </li>'+
        '<li>Designing a 5.5 GHZ <b>Zero IF transceiver</b> with 1GHz bandwidth with 90 nm TSMC (HSPICE) </li>'+
        '<li>Designing a <b>differential Switch Capacitor</b> with 90 nm TSMC (HSPICE)</li>'+
        '<li>Designing a <b>Comparator</b> for Flash ADC with 90 nm TSMC (HSPICE) </li>'+
        '<li>Modeling a <b>Flash ADC</b> with MATLAB </li>'+
        '<li>Modeling a 10 Bit <b>pipeline ADC</b> with MATLAB </li>'+
        '<li>Modeling a <b>Sigma-Delta ADC</b> with MATLAB </li>'
      },
	{
        aboutIcon: 'course.png',
        aboutTitle: ' Publication',
        aboutItems:
        '<li> <a href="https://ieeexplore.ieee.org/document/7985443">Design of 8 bit, 1633µm2, 444µW squarer hardware'+
        ' for high performance VLSI applications.<br>2017 Iranian Conference on Electrical Engineering (ICEE)</a> </li>'

      },    
    ]
	}

	})
  </script>
</body>
</html>
